[defaults]
host_key_checking = False
roles_path = roles
remote_user = deploy
vault_password_file = ~/.ssh/sufia-ansible/vault_password_file

# dev (build and deploy):
inventory = inventory/vagrant
# stage:
#inventory = inventory/stage

# first-run vars for setup.yml:
#remote_user = [existing sudo user]
#ask_pass = True
#ask_sudo_pass = True
