# REM: if you are looking for passwords or other variables
# that vary from dev to stage to prod, check the other subfolders

# setup vars
project:        "sufia-ansible"
version:        "0.1.0"
login_user:     "deploy"

# ssh vars
ssh_port: 22
# uncomment after first run (if not 22):
# ansible_ssh_port: "{{ ssh_port }}"

# build / deployment vars
# NOTE: build_app and get_app are mutually exclusive, though both can reasonably be set to false, if an app already exists in the build directory
# TODO: consider whether the ability to compare built and repoed apps would be worthwhile
build_app:        true
get_app:          false
app_name:         "sufia"
app_user:         "{{ app_name }}"
app_repo:         "https://github.com/dheles/hyrax-JHU"
app_branch:       "master"
base_deploy_dir:  "/opt"
sufia_admin_email: "dheles@jhu.edu"
# deploy_dir:       "{{ base_deploy_dir }}/{{ app_name }}"

# FIXME: temporarily use a mirror for libreoffice
libreoffice_url:                  "http://mirror.clarkson.edu/tdf/libreoffice/stable/{{ libreoffice_version }}/{{ package }}/{{ architecture }}/{{ libreoffice_download_file }}"
libreoffice_checksum_override:    "3afba7609147da7af5aa7a0de547d8ee7b7c2f639e7e20da42bc924ea4c13b1b"

fits_version:     "1.0.5"
fits_checksum:    "e746b7cbf3c584930a559891657393865580fc51"
