---
- hosts: app
  become: true

  roles:
  - { role: redis }
  - { role: imagemagick }
  - { role: fits }
  - { role: libreoffice }
  - { role: ruby, ruby_from_source: true }

- hosts: app
  become: false

  roles:
  - { role: apache }
  - { role: sufia }
