---
- hosts: app
  become: true

  roles:
  # - { role: redis }
  # - { role: imagemagick }
  # - { role: fits }
  - { role: libreoffice }
#   - { role: ruby, ruby_from_source: true }
#
# - include: build.yml
# - include: deploy.yml
