---
- hosts: app
  become: true

  roles:
  - { role: redis }
  - { role: imagemagick }
  - { role: fits }
  - { role: libreoffice }
  - { role: ruby, ruby_from_source: true }

- hosts: app
  become: false
  environment:
    RAILS_ENV: "{{ rails_env }}"

  roles:
  - { role: apache }
  - { role: passenger }
  - { role: sufia }
